In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
chipo = pd.read_csv('chipotle.csv',sep='\t')

print(type(chipo))
chipo

<class 'pandas.core.frame.DataFrame'>

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
cnt=len(chipo['order_id'].unique())+1

df_tmp=chipo[['order_id','item_name']]
df_tmp_arr=[[]for i in range(cnt)]
num=0
for i in df_tmp['item_name'] :
    df_tmp_arr[df_tmp['order_id'][num]].append(i)
    num+=1

# df_tmp_arr 리스트화 한것

In [15]:
df_tmp_arr.pop(0)
num=0
for i in df_tmp_arr :
    df_tmp_arr[num] = list(set(df_tmp_arr[num])) #중복제거 연관에서는 개수가 필요 x
    num+=1
df_tmp_arr[:5]

[['Chips and Tomatillo-Green Chili Salsa',
  'Nantucket Nectar',
  'Chips and Fresh Tomato Salsa',
  'Izze'],
 ['Chicken Bowl'],
 ['Chicken Bowl', 'Side of Chips'],
 ['Steak Burrito', 'Steak Soft Tacos'],
 ['Steak Burrito', 'Chips and Guacamole']]

In [14]:
df_tmp_arr[:5]

[[],
 ['Chips and Fresh Tomato Salsa',
  'Izze',
  'Nantucket Nectar',
  'Chips and Tomatillo-Green Chili Salsa'],
 ['Chicken Bowl'],
 ['Chicken Bowl', 'Side of Chips'],
 ['Steak Burrito', 'Steak Soft Tacos']]

In [16]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

te = TransactionEncoder()
te_ary = te.fit(df_tmp_arr).transform(df_tmp_arr)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,6 Pack Soft Drink,Barbacoa Bowl,Barbacoa Burrito,Barbacoa Crispy Tacos,Barbacoa Salad Bowl,Barbacoa Soft Tacos,Bottled Water,Bowl,Burrito,Canned Soda,...,Steak Crispy Tacos,Steak Salad,Steak Salad Bowl,Steak Soft Tacos,Veggie Bowl,Veggie Burrito,Veggie Crispy Tacos,Veggie Salad,Veggie Salad Bowl,Veggie Soft Tacos
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1830,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1831,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1832,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1833,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
## 연관도 분석
frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True)
frequent_itemsets

     support                                itemsets
0   0.083969                         (Bottled Water)
1   0.051254                           (Canned Soda)
2   0.150491                     (Canned Soft Drink)
3   0.335333                          (Chicken Bowl)
4   0.266630                       (Chicken Burrito)
5   0.053435                    (Chicken Salad Bowl)
6   0.058342                    (Chicken Soft Tacos)
7   0.113413                                 (Chips)
8   0.059978          (Chips and Fresh Tomato Salsa)
9   0.258451                   (Chips and Guacamole)
10  0.055071                         (Side of Chips)
11  0.102508                            (Steak Bowl)
12  0.186478                         (Steak Burrito)
13  0.060523       (Chicken Bowl, Canned Soft Drink)
14  0.066521                   (Chips, Chicken Bowl)
15  0.081243     (Chicken Bowl, Chips and Guacamole)
16  0.062159  (Chicken Burrito, Chips and Guacamole)

In [18]:
import warnings
warnings.filterwarnings(action='ignore')

In [19]:
import pandas as pd
df=pd.read_csv('CUST_ORDER_OUTPUT2.utf8.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510470 entries, 0 to 510469
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CUST_SERIAL_NO  510470 non-null  int64
 1   SEX             510470 non-null  object
 2   AGE             510470 non-null  object
 3   REG_DATE        510470 non-null  object
 4   ORDER_DATE      510470 non-null  object
 5   ORDER_HOUR      510470 non-null  object
 6   ORDER_WEEKDAY   510470 non-null  object
 7   IS_WEEKEND      510470 non-null  object
 8   GOODS_CODE      510470 non-null  int64
 9   LGROUP          510470 non-null  int64
 10  MGROUP          510470 non-null  int64
 11  SGROUP          510470 non-null  int64
 12  DGROUP          510470 non-null  int64
 13  GOODS_NAME      510470 non-null  object
 14  PRICE           510470 non-null  int64
 15  QTY             510470 non-null  int64
dtypes: int64(8), object(8)
memory usage: 62.3+ MB

In [20]:
def colSpecialChar(df): # 유니크값 확인
    for x in df.columns:
        if df[x].dtype=='object':
            print('--------[%s] data set unique --------' % x)
            print(df[x].unique())

In [22]:
colSpecialChar(df)
# sex * 있어 제거
# 나이도 *과 숫자가 문자열과 정수형태로 나누워져 있다
# date도 *있다

--------[SEX] data set unique --------
['F' 'M' '*']
--------[AGE] data set unique --------
[40 60 20 30 50 70 80 90 10 100 '30' '40' '50' '60' '70' '90' '100' '20'
 '80' '*']
--------[REG_DATE] data set unique --------
['2011-07' '2011-08' '2011-09' '2011-10' '2011-11' '2011-12' '2012-01'
 '2012-02' '2012-03' '2012-04' '2012-05' '2012-06' '2012-07' '2012-08'
 '2011-06' '*']
--------[ORDER_DATE] data set unique --------
['2011-11-14' '2012-05-28' '2011-08-30' '2011-07-17' '2011-07-31'
 '2012-06-17' '2011-07-16' '2011-07-30' '2011-09-03' '2011-09-17'
 '2011-09-02' '2011-09-09' '2011-07-15' '2012-07-13' '2012-08-03'
 '2011-08-08' '2011-08-15' '2011-07-14' '2011-07-21' '2011-08-19'
 '2011-09-18' '2011-09-04' '2011-07-24' '2011-08-07' '2011-09-11'
 '2011-11-20' '2011-10-22' '2012-02-04' '2012-01-20' '2012-05-11'
 '2011-08-03' '2011-11-16' '2012-01-25' '2011-08-11' '2012-06-21'
 '2012-07-19' '2012-08-04' '2011-07-29' '2011-08-04' '2011-08-28'
 '2011-10-16' '2011-10-11' '2011-11-08' '2011-10-20' '2011-11-10'
 '2012-03-03' '2012-05-26' '2012-07-28' '2012-01-06' '2012-05-04'
 '2011-08-26' '2011-09-23' '2012-02-03' '2012-07-27' '2011-10-06'
 '2012-03-15' '2012-03-29' '2012-05-24' '2011-08-27' '2011-09-24'
 '2012-05-12' '2012-06-15' '2011-09-16' '2011-07-20' '2012-02-01'
 '2012-03-21' '2011-08-21' '2011-11-27' '2011-12-18' '2011-08-13'
 '2011-08-20' '2011-09-10' '2011-08-12' '2011-12-16' '2012-01-13'
 '2011-09-21' '2011-09-28' '2011-10-05' '2011-08-16' '2011-11-22'
 '2011-08-29' '2011-09-22' '2011-11-03' '2012-02-16' '2012-07-12'
 '2011-09-25' '2011-10-30' '2012-05-06' '2011-10-08' '2011-11-05'
 '2012-06-23' '2011-12-30' '2012-04-27' '2011-08-10' '2011-08-17'
 '2011-08-24' '2011-08-31' '2011-09-07' '2011-11-02' '2011-12-14'
 '2011-08-09' '2011-08-23' '2011-11-29' '2012-06-19' '2011-08-22'
 '2011-10-03' '2011-12-05' '2012-01-02' '2012-04-09' '2012-05-07'
 '2012-06-04' '2012-07-02' '2012-07-09' '2011-08-18' '2011-08-25'
 '2011-10-13' '2012-04-05' '2012-02-19' '2012-04-22' '2011-10-29'
 '2012-03-30' '2012-04-06' '2012-07-06' '2012-06-29' '2011-12-28'
 '2012-05-02' '2012-05-30' '2011-09-27' '2011-10-18' '2011-09-19'
 '2012-03-12' '2012-06-28' '2011-10-01' '2012-02-25' '2012-06-02'
 '2011-10-28' '2012-05-22' '2012-01-23' '2012-02-28' '2012-01-05'
 '2012-02-09' '2011-08-14' '2011-12-04' '2011-11-26' '2011-10-19'
 '2011-09-20' '2012-01-08' '2012-01-15' '2012-02-05' '2012-03-18'
 '2012-05-13' '2012-07-15' '2011-11-12' '2011-12-17' '2011-12-24'
 '2012-01-28' '2012-02-18' '2012-03-10' '2011-09-30' '2011-11-04'
 '2011-12-02' '2012-02-17' '2011-09-14' '2011-11-09' '2011-11-30'
 '2012-02-08' '2012-04-24' '2012-05-08' '2012-06-05' '2011-09-05'
 '2011-10-10' '2011-12-12' '2012-04-02' '2012-05-21' '2012-01-12'
 '2012-01-26' '2012-05-03' '2011-10-23' '2012-03-25' '2012-04-08'
 '2012-06-10' '2011-12-31' '2012-01-14' '2012-01-27' '2012-03-16'
 '2012-01-11' '2012-01-18' '2012-04-04' '2012-04-18' '2012-04-25'
 '2012-07-11' '2012-08-01' '2011-09-06' '2011-09-13' '2012-07-10'
 '2012-07-24' '2012-01-24' '2012-03-20' '2012-04-17' '2011-10-17'
 '2011-10-24' '2011-11-07' '2011-11-28' '2012-06-11' '2012-06-18'
 '2011-09-12' '2012-01-30' '2012-02-20' '2012-05-14' '2012-07-23'
 '2012-08-06' '2011-09-01' '2011-09-08' '2011-10-27' '2012-02-23'
 '2012-04-19' '2012-06-14' '2012-07-26' '2011-10-09' '2011-12-11'
 '2012-03-11' '2012-04-29' '2011-12-10' '2012-06-08' '2011-12-21'
 '2012-02-29' '2012-05-16' '2012-05-23' '2011-12-06' '2011-09-15'
 '2012-03-08' '2012-06-07' '2012-05-31' '2012-03-24' '2012-03-14'
 '2012-07-17' '2012-01-31' '2012-04-28' '2012-07-18' '2012-02-27'
 '2012-07-16' '2012-01-29' '2012-05-20' '2012-06-03' '2012-01-07'
 '2012-01-21' '2012-02-11' '2012-03-31' '2011-10-14' '2011-11-11'
 '2012-04-13' '2012-07-25' '2011-12-20' '2012-04-03' '2011-10-31'
 '2012-03-05' '2012-03-26' '2012-03-22' '2012-02-02' '2011-11-06'
 '2011-12-25' '2012-06-24' '2011-11-19' '2012-07-21' '2011-11-18'
 '2012-01-04' '2012-06-13' '2012-06-27' '2012-06-20' '2011-11-23'
 '2012-04-11' '2011-10-04' '2011-11-01' '2011-12-13' '2012-02-07'
 '2012-03-19' '2012-07-30' '2011-12-01' '2011-12-08' '2011-11-13'
 '2011-10-15' '2012-03-28' '2012-04-16' '2012-04-30' '2012-05-19'
 '2011-12-09' '2011-12-07' '2011-11-15' '2012-02-12' '2012-04-14'
 '2012-05-05' '2012-06-30' '2011-10-07' '2011-10-12' '2012-02-14'
 '2011-12-19' '2011-09-29' '2011-12-22' '2011-10-02' '2011-12-03'
 '2011-10-26' '2012-06-06' '2012-06-26' '2011-12-15' '2012-03-01'
 '2012-03-04' '2011-11-25' '2012-02-22' '2012-02-21' '2012-03-13'
 '2012-07-03' '2012-06-25' '2012-02-26' '2012-04-26' '2012-01-01'
 '2012-05-27' '2012-07-29' '2011-10-21' '2012-04-20' '2012-06-22'
 '2012-02-15' '2012-05-15' '2012-06-16' '2011-12-23' '2012-02-10'
 '2012-02-24' '2012-05-18' '2012-05-17' '2012-04-07' '2012-06-09'
 '2011-09-26' '2012-07-07' '2012-05-25' '2012-08-07' '2012-07-05'
 '2012-08-02' '2012-03-23' '2012-07-31' '2012-02-06' '2011-12-29'
 '2012-07-08' '2012-07-22' '2012-03-17' '2012-01-03' '2012-01-19'
 '2012-04-12' '2012-05-10' '2012-05-09' '2012-05-29' '2012-01-22'
 '2012-07-01' '2012-06-01' '2012-03-07' '2011-10-25' '2011-12-27'
 '2012-05-01' '2012-01-16' '2012-02-13' '2012-04-21' '2011-11-21'
 '2012-04-15' '2012-03-09' '2012-07-04' '2012-03-06' '2012-03-27'
 '2012-08-08' '2012-07-20' '2012-04-23' '2012-06-12' '2011-12-26'
 '2011-11-17' '2011-11-24' '2012-07-14' '2012-01-17' '2012-04-01'
 '2012-04-10' '2012-08-05' '2012-03-02' '2012-01-09' '2012-01-10'
 '2011-07-23' '2011-08-06' '2011-07-22' '2011-07-19' '2011-07-27'
 '2011-07-28']
--------[ORDER_HOUR] data set unique --------
['[0, 3[' '[12, 15[' '[15, 18[' '[18, 21[' '[21, 24[' '[6, 9[' '[9, 12['
 '[3, 6[' '*']
--------[ORDER_WEEKDAY] data set unique --------
['토' '일' '금' '목' '수' '화' '월' '*']
--------[IS_WEEKEND] data set unique --------
['T' 'F']
--------[GOODS_NAME] data set unique --------
['더무료체험' '메쉬런닝화 + 슈즈 2종 여성' '메쉬런닝화 +  슈즈 2종  남성' '왕만두 16봉 구성 +추가구성 참치'
 '베스트셀러 5종' '미서부 자연의 위대함 요세미티국립공원+4대캐년 일주 8일' '진주 SET + 사은품 반지 2종'
 '3겹 데코 화장지 1팩' '스니커즈 2종' '미세먼지 걱정 NO  진공 스팀 청소기+극세사패드 총 6장'
 '3겹 데코 화장지 2팩+1팩' '360도 쿨 브라팬티' '다이아몬드 후라이팬 3종' '_테스트상품01'
 '3박스+추가구성 1박스 총 96팩★' '모던리빙박스 1+1' '심플리빙박스 1+1' '_테스트상품02'
 'NO WET 신개념 세정제' '초특가  키높이 샌들' '제주 오메기떡 20개 + 20개 + 추가구성10개'
 '참치 라이트스탠다드 19캔' '홍삼정 1병' '스테이크  피자 세트' '청소기 HS2800 1대'
 '추석특가   송편 100개 10봉/봉당400g' '반건시 선물세트 2박스' '인테리어금고' '클라우드 양가죽 샌들'
 '영광굴비 40미+추가구성 10미' '밥솥 CRP-HUXF103SDSR' '국내산 콩물콩국수용 500ml X 3팩'
 '설특집사과 4kg+ 5kg+제주한라봉3kg' '전자레인지 전용 밀폐용기50종 100P' '싸먹는 오리슬라이스 20팩'
 '헤어속뽕 5P+컬링브러쉬' '돼지감자환 3세트' '티셔츠 6종남성' '시즌6'
 '특가_  40봉 매운맛순한맛 선택가능8/27~9/13' '제주 웨스턴 그레이스 호텔 분양' '정수기'
 '더블구성  쿠션벽지(19장)' '감귤 3kg x 2박스' '2015 15곡총 8봉_혼합잡곡' '면도기RQ116116'
 '블루 10인 38p 홈세트대 구성' '3D브라팬티 18종' '버블 헤어컬러 염색제 30set 색상선택가능' '1세트  습기제거제'
 '호텔용 무지타월120g40x80cm' '파격더블구성 청소기' '볼륨업 에센스_드라이 없이 쉽게 헤어스타일 연출하세요'
 '밍크팬츠3종+치마레깅스 1종 세트' '프리미엄 코랄 냉온정수기' '초특가 RN 스판팬츠 4종' '미네랄 냉온정수기'
 '간편하게 즐기는 웰빙간식  30봉' '패키지무료체험' '1 충전식 LED 스탠드 램프' '리프팅 노와이어 브라팬티'
 '건강  10박스10개월분' '가격확인하세요/반건시 선물세트 2박스 + 1박스 추가 !!!!'
 '스판 팬츠 5종 Set2016년 봄신상품' '베개' '은갈치 33팩+대고등어15팩 그리고 전갱이 5마리까지'
 '절전형 전기매트 싱글' '사은품_소파 600 책장' '라텍스 소파 6인용' '롱브라팬티' '3D  드로즈' '족욕좌훈겸용'
 '패션 드로즈 17종' '펄 마스크' '패션 브리프 17종' '2단행거 1+1세트' '반건시 선물세트 3박스' '분양'
 '왕복 북경/만리장성 여행 2박4일' '2015년 모델  T-3125 사은품: 오일스프레이★' '뉴 스웨덴'
 '사은품_압력밥솥  홈세트 14p+ 칼라 후라이팬 2종' '전기압력밥솥 10인용' '7종세트' 'LA갈비 10팩_총 5kg'
 '건강  완벽더블구성 6+6 총 1년분' '슈퍼바디' 'N-K 금연보조제 세트' '승마운동기 프리미엄'
 '단독구성 볼륨펌프 헤어뽕 12피스+파우치+볼륨쉐이킹브러쉬' '_코타키나발루 5일' '세탁기 14KgT1407WB'
 '기모본딩 남성바지 3종' '워블 세탁기 15KG WA15E6K4QWW' '사은품_세탁기 생활용품4종세트' '하이브리드'
 '전동공구 멀티툴즈 추가  10/7~' '초특가 전동공구' '극세사 침구세트킹' '프리미엄 버블스타 각탕기'
 '면 60수  3종 세트' '그레이품절★  암막커튼 세트 수퍼특대형+사은품:타이백'
 '팩 세트 6개 1set X 2총 12개+립클렌저' '가볍게 떠나는 청도 여행 3일_노쇼핑'
 '베트남 호치민 일주 5일 붕따우+미토+구찌' '무료체험  탈모샴푸' '침대킹' '사은품_KQ 스텐드+메모리폼베게(2개)+방수커버'
 '물걸레 겸용 무선 청소기MHC-720' '트레킹화 2종세트여성화' '트레킹화 2종세트남성화' '프리미엄 식품 건조기'
 '롤러 1+1' '스마트 2015' '송편 100개10봉봉당400g' '사은품_라면:' 'T-3125사은품_전기그릴'
 '1세트 체크가글액-770ml 2병+285ml 4병' '홍콩여행_ 왕복_특급호텔투숙까지' '치아미백기' '운전자 보험'
 '선글라스 2종 시즌1' '클리닉  페이스+바디롤러 패키지' '사은품_ 스텐냄비3종+14P+네오플램시트도마3P'
 'S835S30  S835W31' 'EW-1211A' '여성 여름티셔츠 4종세트' '유기농 엑스트라버진 넛오일' '트렁크'
 '비데 최고급 리모컨비데' '만능 요리기녹즙기' '만능 요리기+채유기' '백 3종구성' '소닉케어HX675433'
 '사은품  요거맘' '착즙기' '프로' '사은품_  전기그릴' '미녀들의 시크릿 빨강석류' '휴지 3팩'
 '스탠드형 360도 회전 다리미판' '사과배  사과 4kg + 천안 5kg' '스위스 클래식컬러 다용도 과도 3종 세트'
 '에어프라이어28' '사은품_에어프라이어  핸드블랜더' '접이식 다용도 웨건' '전동공구 3만원할인918~10/7'
 '프리미엄 식품 건조기-8단' '더블세트' '만능 후라이팬 6종세트' '#NAME?' '김치 8kg' 'LED TV 55형 55'
 '2단행거 한세트' '극세사 솔리드 패드 3종 세트컬러선택 가능' '의  진동운동기' '석쇠불고기 13팩'
 '청소기 HS2800 2대' '황토쌀독' '6인조 디너세트' '파워구성   12병' '대용량 레드 믹서기' '프라이팬 7종'
 '초특가리무버 전동공구' '생활건강  치아미백젤' '기획특가 3단행거' '60수  워싱패드 3종 세트' '2 충전식 LED 스탠드'
 '보정 레깅스 5종 세트' '선택' '고데기 슬림+팔찌' '치약세트' '대복 갈비세트 총 10팩구성'
 '멀티바구니 60리터 X 2개 세트' '대용량 세트' '2만원SALE2개 4단 서랍장' '중국 속 작은 유럽 청도 여행'
 'H행거() 1개' '초특가  여성 썸머 골프팬츠 3종' 'S1만원세일-  사각 모기장 소형(싱글더블)' '진공포장기'
 '무료체험피톤치드 편백의 숲 베개 4개 세트' '무료체험피톤치드 편백의 숲 베개 2개 세트' '블랙박스 32G'
 '프리미엄 폴리쳐 세트_차량광택제' '차량광택제_프리미엄 폴리쳐 세트' '세트' '드로즈 패키지 10종세트' 'HVS-STF14'
 '사은품_ 식품건조기+ 칼라 도자기' '논슬립 옷걸이 세트 옷걸이100P+텐션50P' '통주물 스톤냄비' '친환경 종이 호일세트'
 '글램  슈즈' 'H행거() 2개' '무료체험 스마트 홈클린 세트' '3종핸드백' '스테인리스 냄비세트+믹싱볼2개 총 7종'
 '만능 요리기+채유기세일' '단독구성★  LA양념갈비+갈비찜 총 10팩' '팩션 후라이팬 5종 세트' '교구' '세일 시즌6'
 '전동공구+다용도패드+리무버' '설치형' '분양 호텔  in 설악' '활전복 25미 中 사이즈' '가스레인지 2구 일반형'
 '맷돌로 갈아만든 국산 검은콩 검은깨 두유 4박스84팩' '눈건강에 도움을 주는 루테인 8박스8개월분' '네일 프리미엄 패키지'
 '물량/한/정 부산  3kg*2박스' '초대박★가격확인하세요/반건시 선물세트 2박스 + 1박스 추가 !!!!'
 '생피부  유산균 6박스' '2016년 햇 갓의 향이 물씬~ 여수 돌산 갓김치 6kg + 고들빼기 김치 1kg'
 '키높이 패션 워킹화  여성화' '디너세트 40P' '다이아몬드 후라이팬 4종' '더블세트  습기제거제' '양면 석쇠구이기'
 '해먹 하와이 해먹+해먹스탠드+보관용가방' '초특가  남성 여름티셔츠 4종세트' '일레스틱  골프바지 3종'
 '무선SS  자동물걸레청소기' '악센트 볼5P 병행수입' '절전형 전기매트 싱글 3개' '선글라스 2종 시즌2'
 '아로니아 파우더 16통' '다이렉트 정수기' 'Q  사각 모기장 대형(퀸킹사이즈)' '경품_면도기  선글라스' '화이트 셔츠'
 '카매트 프라임' '슈퍼냉온정수기' '극세사 침구세트싱글' '7존  매트리스 슈퍼싱글★  사은품:' '활전복 22미 大사이즈'
 '암막커튼 세트 대형+사은품:타이백' '암막커튼 세트 특대형+사은품:타이백' '핸썸'
 '사은품_ 스팀 2단 멀티 쿠커  2인조 14p' '32장  2세트' '초특가    극세사 침구세트킹' '휘트니스 웨어 7종'
 '단독구성 연어 훈제 프리미엄S 8팩 + 연어 통살구이 1팩' '고등어 20팩 세트 비린내냄새/알러지 걱정 NO!'
 '1만원세일   루나 화 여성화' '청소기 세일' '멀티 믹서기-마늘박피' '사은품_  파워믹서기'
 '홍콩 관광+자유 일정 3일_ 55주년 특별기획' '여성 위클리 티셔츠4종 세트' '썸머 골프팬츠 3종남성'
 '초특가  남성 썸머 골프팬츠 3종' '아로니아100  120팩 + 무료체험 5팩' '초특가_ 극세사 침구세트싱글' '롤링마사지기'
 '초특가_ 극세사 침구세트퀸' '16장  1세트' '1세트  멀티수납장' '집업니트티 4종' '1세트  쿠션벽지(8장)'
 '1+1 3D 입체베개(무료체험)' 'MR20' '신사화 3종 + 벨트 2종' '미러 국내차'
 '홍삼정 3병 구성 +선물용 쇼핑백 추가증정' '무료체험2015년형  비데' '좌식형 360도 회전 다리미판'
 '7존  매트리스 퀸★  사은품:' '싱글양모온수매트' '블랙박스 2채널32G' '상담 속초  크루즈 호텔 분양'
 '남성 여름티셔츠 4종세트' '210수 브라팬티' '가격/인/하    극세사 침구세트킹'
 '스트레칭 쭉~    마사지매트 +사은품 : 허브찜질기' '썸머 골프팬츠 3종여성' '7존  매트리스 킹★ 사은품:'
 '유러피언 스타일' '사은품_ 스텐레스 밀폐용기 3종세트' '디지털 도어락' '2016  골프바지 3종'
 '절전형 전기매트 싱글 1+ 1' '극세사 침구세트퀸' '천안  5kg' '침대슈퍼싱글'
 '사은품_SS 스텐드+메모리폼베게(1개)+방수커버' '쉽고 빠른  염색제 11세트 색상선택가능' '남성 런닝화' '여성 런닝화'
 '침대퀸' '슬리브탑' '밥솥 6인용WPQ-C0608EV' '사은품_  법랑 2종세트+시트도마 3P+칼블럭6종'
 '여성 등산화 트레킹화 세트' '남성 등산화 트레킹화 세트' '초특가  워킹슈즈 여성용' '쏘팔메토 스페셜 3박스'
 '더블세트 체크가글액-770ml 4병+285ml 8병' '방송에서만 황사 마스크(KF94) 20장 +10개더'
 '4만원SALE 3단 접이식 행거' '초특가 2016  골프바지 3종' '초특/가★껍질째 먹는   세척사과 3박스'
 '절전매트 잘자요' '11종무료체험' '쿨 스트레치 티셔츠4종남성' '남성 엑스트라 히트 동내의' '베스트+셔츠 2종세트'
 '초특가  일레스틱  골프바지 3종' '여성 엑스트라 히트 동내의' '12병 파워구성' '소가죽  남성화' '마스크'
 '간편하게~ 새치 걱정 끝! 5개 SET' '루나 화 여성화' '블라우스 5종 Set2016년 봄신상품'
 '활전복 大 size 1.3kg 이상' '세트파운케익3+리필4+컨실러1+트윈팩트1+1+체험분' '사은품_선풍기'
 '목이 개운한 3D  입체 베개2종' '압력솥 G' '채칼 다지기 세트' '건강한 茶 습관!'
 '왕복1일 자유일정 오키나와 여행 3일' '두피케어 토탈 솔루션 어성초 풍모 두피케어 세트' '가스레인지 3구 일반형'
 '가스레인지 3구 매립형빌트인' '프리미엄 폴리쳐 세트' '왕복 대만 여행 4일_즐길거리 볼거리 먹거리 가득' '황토돌솥 황토반'
 '슬림 6주분  무료체험 5일!' '사과 4kg' '와인 스마트' '북해도 핵심일주 4일 일정' '승마운동기' '상해/주장 3일'
 '미니심플정수기' '가볍게 떠나는 대마도 1박2일_투어' '무료체험 10kg+체험분 500g+시공세트포함' '고데기 슬림 1+1'
 '초특가  글램  슈즈' '가격/인/하    극세사 침구세트퀸' 'Set 양변기+세면기' '감귤 3kg x 1박스'
 '왕복 큐슈 여행 3일_온천까지 즐기자!' '청도 여행 299000원 부터~'
 '식스핏 다이어트 프리미엄 10주분레몬맛 6주 + 망고맛 4주' '사은품_빵:' '핫썸머 쿨웨어 4종여성' '010 핸드폰 개통'
 '미러 수입차' '오징어불고기 8팩 + 중화요리볶음밥 5봉' '상담  상조' '만능 요리기녹즙기_세일' '극세사 워셔블온열매트'
 '더블세트 멀티수납장' '키높이 샌들' '냄비 10종 세트' '점보형 프리미엄  왕대나무 압착 접이식 대자리+사은품 청대베게 증정'
 '사은품  1개   본품 배송완료 후 14일 이내 배송' '대박구성  햄프씨드 9봉+추가구성 3봉 더!!!!'
 '소가죽 남성화 3종' '초특가  여성 여름티셔츠 4종세트' '1만원SALE1개 4단 서랍장' '메쉬 슈즈'
 '최대/혜/택 볶은 아마씨 총 16팩' '전자레인지 전용 밀폐용기30종 60P' 'S  사각 모기장 소형(싱글더블)'
 'F  사각 모기장 특대형(패밀리사이즈)' 'EMS운동기  패치' '빨래살균건조기 7kg' '전기압력밥솥 6인용' '상조'
 '1세트 섬유유연제4가지향(5*4set)+용기1개+체험분1개' '슈퍼S정수기'
 '1+1세트 섬유유연제4가지향(5*8set)+용기2개+체험분2개' '전기압력밥솥 10인용CRP-L1065SRSD'
 '사은품_압력밥솥 세트' '워킹슈즈 여성용' '승마운동기 일반형' '티셔츠 6종여성' '4인용 식기세트 20P'
 '펌프 유리병 세트' '방송중 제주 오메기떡 총 60개 최대구성!' '4인조 세트' 'Q  공기청정기 2개 +  II-S 2개'
 '대박구성  신발 정리대 총 54종' '블랙박스 1세트' '스마트 슬림 직수형 정수기' '실속구성  신발 정리대 총 20종'
 '선글라스' '4인세트 3D 입체베개(무료체험)' '614 단하루 이벤트★  아로니아 파우더 16통50g'
 '분양 제주  서귀포 호텔' '천안  호텔 분양' '스프레이맥스' '쿨 스트레치 티셔츠4종여성' '워킹슈즈 남성용'
 'pro 멀티 믹서기' '공기청정기 3개' '다목적 세정제 3개+얼룩제거비누' '레저 등산 4종세트'
 '715~8/3 세일!! 루테인 8박스8개월분' '이베리' '퓨어 선롤러 30ml*4 + 100ml*1 + 롤러리필 2개'
 '남성 봄 티셔츠4종 세트' '사은품_샤베트제조기' '무선안마기' 'H-남성용'
 '1+1완벽더블구성  더힘찬선식 스페셜 120포+사은품 쉐이커 증정' '목이 개운한 3D  입체 베개4종'
 '주름/개/선  SD링클크림 본품 2개+여행용 1개' '여름 밴딩 팬츠 3종 여성용' '겔 소취消臭클렌저 +무료체험분 증정'
 '큐슈 여행_온천에서 뱃놀이까지' '온수매트' '블랙박스 1채널32G' '55주년 특별기획_대만 3박 4일'
 '여행 북유럽 발틱3국+러시아 8일 일정' '키높이 패션 워킹화  남성화' '압력솥  ONE' 'C17 세럼'
 '사은품_선풍기  무이모든치아보험' '황토 호박고구마 2박스10KG' '양배추 사과 진액 120ml x 60'
 '침구청소기EP-7UP-2' '롤클리너 1+1파격구성' '항공 왕복 대만여행 4일' '아트  티셔츠' '양변기' '블랙박스 16G'
 '방송중에만  시스템 수납장 콤비형 서랍형1+선반형1' '방송중에만  시스템 수납장 서랍형1+1'
 'by  데일리  스페셜 거들 팬티 10종+ 거들팬티 2종' '밀폐용기 12종24P' 'H-여성용' '핵심일주 4일'
 '투어 오키나와 여행_해중크루즈포함' '홍삼 3박스' '항균 씽크선반 2단' '욕실주방 샤워기 세트' '양모온수매트 퀸'
 '여성  노와이어 브라 팬티 12종 세트' '크림 50ml 2+1' '무선 글루건_리튬이온 글루스틱후크헬퍼키트 모두 포함'
 '체어 안마의자' '양말 9종남성' '싸이클론 진공청소기' '다양한 연출이 가능한  시계' '블랙박스 8G'
 '4인set 3D 입체베개(무료체험)' '양모온수매트 싱글' '1만원 인하   기모본딩 남성바지 3종' '하이브리드렌지'
 '가격/인/하    극세사 침구세트싱글' '양말 9종여성' '베트남 하노이하롱베이/옌뜨 여행 4일5일_특급호텔 숙박'
 '초특가  펀칭 슬립온 슈즈' '오징어순대소 500g x 2' 'BB' '볼록맞춤 세트318p' '1세트'
 '가마솥 중탕기 OC-2500PO' '사은품_ 광파오븐이유식전용내솥 스텐보울 3종' '무 New 치아 안심보험 1601'
 '퍼블릭 트렁크 패키지 10종세트' '가마솥 중탕기 OC-2700PR' '독일 주방 명품  냄비6종세트' '사은품_요거트메이트:'
 '펀칭 슬립온 슈즈' '트렁크10종' '드로즈10종' '요리 걱정 끝!요리를 9해조 다시팩 세트'
 'Q1만원세일-  사각 모기장 대형(퀸킹사이즈)' '밥솥 10인용CJS-FB1003V' '베이직런닝 패키지 10종세트' '이동형'
 '이동식 냉장고_일반 차량용_가정용 어댑터까지 12V' 'KIT + 선풍기 세트방송에서만_KIT 1개더'
 '무료체험()  버블샴푸2.8L' '황토 호박고구마 1박스5KG' '껍질째 먹는   세척사과 3박스'
 '무료체험 5kg+체험분 500g' '여름 밴딩 팬츠 3종 남성용' '사은품_선풍기  1608'
 '금강종합상조 서비스 더피플 450' '초특가  워킹슈즈 남성용' 'T-3125사은품_ 믹서기' '유선SS  자동물걸레청소기'
 '치아 안심보험' '화려한 도시 홍콩으로의 외출_자유투어' '시스템 수납장 서랍형 1세트' '남성 아웃도어2종+데님1종남성'
 '밀폐용기20L' '육개장 7팩' 'PC 캐리어 2종세트 20”+25”' '조선왕조궁중음식  의 LA갈비 10팩'
 '노르웨이 大고등어 35팩 구성' '2개 4단 서랍장' '립타투' '투어 큐슈여행 3일_299000원부터'
 '프리미엄 이중암막 레이스 커튼 대형  풀세트구성' '전기 압력 밥솥10인용' '사은품_ 믹싱볼+키친툴+시트도마'
 '립매니큐어+리무버+스크럽+탑코트 세트' 'CA100' '상담  제주 호텔 분양' '블랙박스 2세트' '미러 국내차 일체형'
 '카매트' '제주  호텔 분양' '호텔 마리나베이서울 분양' '에어매트리스' '2인set 3D 입체베개(무료체험)' '청소기'
 '사은품_청소기 도자기 12p' '초특가  메쉬 슈즈' '에어매트리스 퀸Q' 'RN 스판팬츠 4종' '양모온수매트퀸+증강현실패드'
 '골프웨어 6종 세트여성' '골프웨어 6종 세트남성' '양모온수매트싱글' '양모온수매트퀸' '초특가  소가죽  남성화'
 '쏘팔메토  스페셜 1박스' '4인조 세트_혼합정액' '남성 전립선건강에 도움을 줄 수 있는  3박스' '옹기 숨'
 '여행용 캐리어 9종 세트' '디너 세트' '천연원료비타민미네랄 함유 6개월분+사은품 비타C' '6종세트' '바이오 하이퍼 그릴'
 '이동식 냉장고_어댑터까지 대형 화물 차량용24V' '슬림 4주분 무료체험 5일!' '브라팬티' '전기면도기  더블세트'
 '기도형 보청기ST33' '왕복 중국 곤명여행_' '핫썸머 쿨웨어 4종남성' '가마솥 중탕기'
 '사은품_  식품건조기대우 요구르트제조기' '라이프 유기농 엑스트라버진 코코넛오일'
 '프리미엄 이중암막 레이스 커튼 중형  풀세트구성' '에어서큘레이터_' '양모온수매트'
 '중형 프리미엄  왕대나무 압착 접이식 대자리+사은품 청대베게 증정'
 '대형 프리미엄  왕대나무 압착 접이식 대자리+사은품 청대베게 증정' '7존  매트리스 킹★  사은품:' '세면기' '학습'
 '에어메트리스 퀸' '에어메트리스 싱글' '순면 카페트점보특대형 + 다용도매트 + 발매트'
 '오늘 결제 0원!  밴드플레이 LG-F570S' '3단 접이식 행거' '에어매트리스 싱글S' '아웃도어2종+데님1종여성'
 '웰빙 공기정화 식물 6종' '오직방송에서만! 1박스 더!  건강한 흑마늘 진액 120포 대박구성★' '60수  침구세트퀸'
 '렌탈 안마의자 ENE-7 레브' '스마트 LED침대' '오사카와 큐슈를 한번에! 4일 일정' '놀이방 매트 세트'
 '초고속 블랜더' '멀티서큘레이터_' 'F1만원세일-  사각 모기장 특대형(패밀리사이즈)'
 '와이드 그릴  사은품 :  2단 런치박스' '빨래살균건조기' '1개 4단 서랍장' '순면 카페트특대형 + 다용도매트 + 발매트'
 '슬림 2주분' '침대세트 슈퍼싱글SS- 자카드9존/독립스프링' '클렌저 + 클로징세럼' '60수  침구세트슈퍼싱글'
 'FULL HDTV 43형' '프리미엄 이중암막 레이스 커튼 특대형  풀세트구성' 'UV  프로텍터'
 '채유기녹즙기 본체와 결합하여 기름 짜는 채유기(녹즙기 본체 없이는 기름을 짤수 없어요' '전기 압력 밥솥6인용'
 '클리닉   어플리케이터+아이크림 패키지' '렌탈   ENE-3 오브 Aube 안마의자' '침대세트 퀸Q- 자카드9존/독립스프링'
 '호텔용 컬러무지 130g 40x80cm130g' '호텔용 컬러무지 130g 40수 40x80cm130g' '푸드쿡 5종'
 '60수  침구세트킹' '맷돌로 갈아만든 국산 검은콩 검은깨 두유 1박스21팩' '빨래살균건조기 5kg'
 'XP SPF50+PA+++ 본품1개+리필1개 + 스페셜 5종 세트' '순면 카페트대형 + 다용도매트 + 발매트'
 '올인원 매트리스' '황사 방역용 마스크KF94 20장' '침대세트 - 자카드9존/독립스프링' '넛오일 500ml 1병'
 '파격특가 안마의자' '에컨트롤 2종 세트' '2BOX + 무료체험분 2팩' '5번가 EDP 125ml'
 '단 이틀 99000원 찬스! 대마도 여행_616 6/28 출발' '전기면도기' '렌탈   ENE-5 보그'
 '남성 전립선건강에 도움을 줄 수 있는  1박스' '밀폐용기 6종12P' 'HDTV 32형' '볶은 아마씨 1팩'
 '스마트 LED침대 퀸Q' '스마트 LED침대 슈퍼싱글SS' 'LED TV 43형 43LF5700' '돼지감자환 3세트+혈당측정기'
 '생피부  유산균 1박스' '미러리스카메라 ILCE-A5000 16-50mm렌즈포함' 'LED TV 49형 49'
 '찜갈비 선물세트 1.8kg600g x 3팩' '팩션 28cm 후라이팬' '팩션 28cm 궁중팬' '라텍스 소파 4인용'
 '영광굴비 50미 75set' '사과4kg+배5kg 6set' '홍삼정 3병+선물용쇼핑백 26'
 '영광굴비 50미 50set  본사' '골드오일크림' '팜고급유3호3+1' '웰빙 죽제조기' '무선핸디드릴 4.8V'
 '안마 전용의자' '황토 잡곡독 4kg']

In [23]:
df[df['SEX']=='*']

,CUST_SERIAL_NO,SEX,AGE,REG_DATE,ORDER_DATE,ORDER_HOUR,ORDER_WEEKDAY,IS_WEEKEND,GOODS_CODE,LGROUP,MGROUP,SGROUP,DGROUP,GOODS_NAME,PRICE,QTY
507352,1000000034,*,*,*,2011-07-16,*,*,F,20017,40,1,1,3,독일 주방 명품 냄비6종세트,300500,1
507353,1000000011,*,*,*,2011-07-17,*,*,F,20008,10,13,3,5,진주 SET + 사은품 반지 2종,157500,1
507354,1000000041,*,*,*,2011-07-17,*,*,F,20010,50,1,23,6,3겹 데코 화장지 2팩+1팩,33300,1
507355,1000000007,*,*,*,2011-07-15,*,*,F,20010,50,1,23,6,3겹 데코 화장지 2팩+1팩,33300,1
507356,1000000001,*,*,*,2011-07-15,*,*,F,20010,50,1,23,6,3겹 데코 화장지 2팩+1팩,33300,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510465,1000406775,*,*,*,2012-08-03,*,*,F,20939,85,4,1,1,분양 제주 서귀포 호텔,0,1
510466,1000407395,*,*,*,2012-08-04,*,*,F,20810,10,14,12,3,초특가 여성 썸머 골프팬츠 3종,43300,1
510467,1000412085,*,*,*,2012-08-06,*,*,T,20975,80,3,1,2,상해/주장 3일,0,1
510468,1000412003,*,*,*,2012-08-05,*,*,F,20536,85,4,1,1,제주 웨스턴 그레이스 호텔 분양,0,1
510469,1000406999,*,*,*,2012-08-04,*,*,F,20961,80,3,1,2,왕복1일 자유일정 오키나와 여행 3일,0,1

In [25]:
df1=df[df['SEX']!='*']
# 문자데이터셋의 유니크값 확인
# * sex에서 제거하니 다른것들도 모두 제거되었다
colSpecialChar(df1)

--------[SEX] data set unique --------
['F' 'M']
--------[AGE] data set unique --------
[40 60 20 30 50 70 80 90 10 100 '30' '40' '50' '60' '70' '90' '100' '20'
 '80']
--------[REG_DATE] data set unique --------
['2011-07' '2011-08' '2011-09' '2011-10' '2011-11' '2011-12' '2012-01'
 '2012-02' '2012-03' '2012-04' '2012-05' '2012-06' '2012-07' '2012-08'
 '2011-06']
--------[ORDER_DATE] data set unique --------
['2011-11-14' '2012-05-28' '2011-08-30' '2011-07-17' '2011-07-31'
 '2012-06-17' '2011-07-16' '2011-07-30' '2011-09-03' '2011-09-17'
 '2011-09-02' '2011-09-09' '2011-07-15' '2012-07-13' '2012-08-03'
 '2011-08-08' '2011-08-15' '2011-07-14' '2011-07-21' '2011-08-19'
 '2011-09-18' '2011-09-04' '2011-07-24' '2011-08-07' '2011-09-11'
 '2011-11-20' '2011-10-22' '2012-02-04' '2012-01-20' '2012-05-11'
 '2011-08-03' '2011-11-16' '2012-01-25' '2011-08-11' '2012-06-21'
 '2012-07-19' '2012-08-04' '2011-07-29' '2011-08-04' '2011-08-28'
 '2011-10-16' '2011-10-11' '2011-11-08' '2011-10-20' '2011-11-10'
 '2012-03-03' '2012-05-26' '2012-07-28' '2012-01-06' '2012-05-04'
 '2011-08-26' '2011-09-23' '2012-02-03' '2012-07-27' '2011-10-06'
 '2012-03-15' '2012-03-29' '2012-05-24' '2011-08-27' '2011-09-24'
 '2012-05-12' '2012-06-15' '2011-09-16' '2011-07-20' '2012-02-01'
 '2012-03-21' '2011-08-21' '2011-11-27' '2011-12-18' '2011-08-13'
 '2011-08-20' '2011-09-10' '2011-08-12' '2011-12-16' '2012-01-13'
 '2011-09-21' '2011-09-28' '2011-10-05' '2011-08-16' '2011-11-22'
 '2011-08-29' '2011-09-22' '2011-11-03' '2012-02-16' '2012-07-12'
 '2011-09-25' '2011-10-30' '2012-05-06' '2011-10-08' '2011-11-05'
 '2012-06-23' '2011-12-30' '2012-04-27' '2011-08-10' '2011-08-17'
 '2011-08-24' '2011-08-31' '2011-09-07' '2011-11-02' '2011-12-14'
 '2011-08-09' '2011-08-23' '2011-11-29' '2012-06-19' '2011-08-22'
 '2011-10-03' '2011-12-05' '2012-01-02' '2012-04-09' '2012-05-07'
 '2012-06-04' '2012-07-02' '2012-07-09' '2011-08-18' '2011-08-25'
 '2011-10-13' '2012-04-05' '2012-02-19' '2012-04-22' '2011-10-29'
 '2012-03-30' '2012-04-06' '2012-07-06' '2012-06-29' '2011-12-28'
 '2012-05-02' '2012-05-30' '2011-09-27' '2011-10-18' '2011-09-19'
 '2012-03-12' '2012-06-28' '2011-10-01' '2012-02-25' '2012-06-02'
 '2011-10-28' '2012-05-22' '2012-01-23' '2012-02-28' '2012-01-05'
 '2012-02-09' '2011-08-14' '2011-12-04' '2011-11-26' '2011-10-19'
 '2011-09-20' '2012-01-08' '2012-01-15' '2012-02-05' '2012-03-18'
 '2012-05-13' '2012-07-15' '2011-11-12' '2011-12-17' '2011-12-24'
 '2012-01-28' '2012-02-18' '2012-03-10' '2011-09-30' '2011-11-04'
 '2011-12-02' '2012-02-17' '2011-09-14' '2011-11-09' '2011-11-30'
 '2012-02-08' '2012-04-24' '2012-05-08' '2012-06-05' '2011-09-05'
 '2011-10-10' '2011-12-12' '2012-04-02' '2012-05-21' '2012-01-12'
 '2012-01-26' '2012-05-03' '2011-10-23' '2012-03-25' '2012-04-08'
 '2012-06-10' '2011-12-31' '2012-01-14' '2012-01-27' '2012-03-16'
 '2012-01-11' '2012-01-18' '2012-04-04' '2012-04-18' '2012-04-25'
 '2012-07-11' '2012-08-01' '2011-09-06' '2011-09-13' '2012-07-10'
 '2012-07-24' '2012-01-24' '2012-03-20' '2012-04-17' '2011-10-17'
 '2011-10-24' '2011-11-07' '2011-11-28' '2012-06-11' '2012-06-18'
 '2011-09-12' '2012-01-30' '2012-02-20' '2012-05-14' '2012-07-23'
 '2012-08-06' '2011-09-01' '2011-09-08' '2011-10-27' '2012-02-23'
 '2012-04-19' '2012-06-14' '2012-07-26' '2011-10-09' '2011-12-11'
 '2012-03-11' '2012-04-29' '2011-12-10' '2012-06-08' '2011-12-21'
 '2012-02-29' '2012-05-16' '2012-05-23' '2011-12-06' '2011-09-15'
 '2012-03-08' '2012-06-07' '2012-05-31' '2012-03-24' '2012-03-14'
 '2012-07-17' '2012-01-31' '2012-04-28' '2012-07-18' '2012-02-27'
 '2012-07-16' '2012-01-29' '2012-05-20' '2012-06-03' '2012-01-07'
 '2012-01-21' '2012-02-11' '2012-03-31' '2011-10-14' '2011-11-11'
 '2012-04-13' '2012-07-25' '2011-12-20' '2012-04-03' '2011-10-31'
 '2012-03-05' '2012-03-26' '2012-03-22' '2012-02-02' '2011-11-06'
 '2011-12-25' '2012-06-24' '2011-11-19' '2012-07-21' '2011-11-18'
 '2012-01-04' '2012-06-13' '2012-06-27' '2012-06-20' '2011-11-23'
 '2012-04-11' '2011-10-04' '2011-11-01' '2011-12-13' '2012-02-07'
 '2012-03-19' '2012-07-30' '2011-12-01' '2011-12-08' '2011-11-13'
 '2011-10-15' '2012-03-28' '2012-04-16' '2012-04-30' '2012-05-19'
 '2011-12-09' '2011-12-07' '2011-11-15' '2012-02-12' '2012-04-14'
 '2012-05-05' '2012-06-30' '2011-10-07' '2011-10-12' '2012-02-14'
 '2011-12-19' '2011-09-29' '2011-12-22' '2011-10-02' '2011-12-03'
 '2011-10-26' '2012-06-06' '2012-06-26' '2011-12-15' '2012-03-01'
 '2012-03-04' '2011-11-25' '2012-02-22' '2012-02-21' '2012-03-13'
 '2012-07-03' '2012-06-25' '2012-02-26' '2012-04-26' '2012-01-01'
 '2012-05-27' '2012-07-29' '2011-10-21' '2012-04-20' '2012-06-22'
 '2012-02-15' '2012-05-15' '2012-06-16' '2011-12-23' '2012-02-10'
 '2012-02-24' '2012-05-18' '2012-05-17' '2012-04-07' '2012-06-09'
 '2011-09-26' '2012-07-07' '2012-05-25' '2012-08-07' '2012-07-05'
 '2012-08-02' '2012-03-23' '2012-07-31' '2012-02-06' '2011-12-29'
 '2012-07-08' '2012-07-22' '2012-03-17' '2012-01-03' '2012-01-19'
 '2012-04-12' '2012-05-10' '2012-05-09' '2012-05-29' '2012-01-22'
 '2012-07-01' '2012-06-01' '2012-03-07' '2011-10-25' '2011-12-27'
 '2012-05-01' '2012-01-16' '2012-02-13' '2012-04-21' '2011-11-21'
 '2012-04-15' '2012-03-09' '2012-07-04' '2012-03-06' '2012-03-27'
 '2012-08-08' '2012-07-20' '2012-04-23' '2012-06-12' '2011-12-26'
 '2011-11-17' '2011-11-24' '2012-07-14' '2012-01-17' '2012-04-01'
 '2012-04-10' '2012-08-05' '2012-03-02' '2012-01-09' '2012-01-10'
 '2011-07-23' '2011-08-06' '2011-07-22']
--------[ORDER_HOUR] data set unique --------
['[0, 3[' '[12, 15[' '[15, 18[' '[18, 21[' '[21, 24[' '[6, 9[' '[9, 12['
 '[3, 6[']
--------[ORDER_WEEKDAY] data set unique --------
['토' '일' '금' '목' '수' '화' '월']
--------[IS_WEEKEND] data set unique --------
['T' 'F']
--------[GOODS_NAME] data set unique --------
['더무료체험' '메쉬런닝화 + 슈즈 2종 여성' '메쉬런닝화 +  슈즈 2종  남성' '왕만두 16봉 구성 +추가구성 참치'
 '베스트셀러 5종' '미서부 자연의 위대함 요세미티국립공원+4대캐년 일주 8일' '진주 SET + 사은품 반지 2종'
 '3겹 데코 화장지 1팩' '스니커즈 2종' '미세먼지 걱정 NO  진공 스팀 청소기+극세사패드 총 6장'
 '3겹 데코 화장지 2팩+1팩' '360도 쿨 브라팬티' '다이아몬드 후라이팬 3종' '_테스트상품01'
 '3박스+추가구성 1박스 총 96팩★' '모던리빙박스 1+1' '심플리빙박스 1+1' '_테스트상품02'
 'NO WET 신개념 세정제' '초특가  키높이 샌들' '제주 오메기떡 20개 + 20개 + 추가구성10개'
 '참치 라이트스탠다드 19캔' '홍삼정 1병' '스테이크  피자 세트' '청소기 HS2800 1대'
 '추석특가   송편 100개 10봉/봉당400g' '반건시 선물세트 2박스' '인테리어금고' '클라우드 양가죽 샌들'
 '영광굴비 40미+추가구성 10미' '밥솥 CRP-HUXF103SDSR' '국내산 콩물콩국수용 500ml X 3팩'
 '설특집사과 4kg+ 5kg+제주한라봉3kg' '전자레인지 전용 밀폐용기50종 100P' '싸먹는 오리슬라이스 20팩'
 '헤어속뽕 5P+컬링브러쉬' '돼지감자환 3세트' '티셔츠 6종남성' '시즌6'
 '특가_  40봉 매운맛순한맛 선택가능8/27~9/13' '제주 웨스턴 그레이스 호텔 분양' '정수기'
 '더블구성  쿠션벽지(19장)' '감귤 3kg x 2박스' '2015 15곡총 8봉_혼합잡곡' '면도기RQ116116'
 '블루 10인 38p 홈세트대 구성' '3D브라팬티 18종' '버블 헤어컬러 염색제 30set 색상선택가능' '1세트  습기제거제'
 '호텔용 무지타월120g40x80cm' '파격더블구성 청소기' '볼륨업 에센스_드라이 없이 쉽게 헤어스타일 연출하세요'
 '밍크팬츠3종+치마레깅스 1종 세트' '프리미엄 코랄 냉온정수기' '초특가 RN 스판팬츠 4종' '미네랄 냉온정수기'
 '간편하게 즐기는 웰빙간식  30봉' '패키지무료체험' '1 충전식 LED 스탠드 램프' '리프팅 노와이어 브라팬티'
 '건강  10박스10개월분' '가격확인하세요/반건시 선물세트 2박스 + 1박스 추가 !!!!'
 '스판 팬츠 5종 Set2016년 봄신상품' '베개' '은갈치 33팩+대고등어15팩 그리고 전갱이 5마리까지'
 '절전형 전기매트 싱글' '사은품_소파 600 책장' '라텍스 소파 6인용' '롱브라팬티' '3D  드로즈' '족욕좌훈겸용'
 '패션 드로즈 17종' '펄 마스크' '패션 브리프 17종' '2단행거 1+1세트' '반건시 선물세트 3박스' '분양'
 '왕복 북경/만리장성 여행 2박4일' '2015년 모델  T-3125 사은품: 오일스프레이★' '뉴 스웨덴'
 '사은품_압력밥솥  홈세트 14p+ 칼라 후라이팬 2종' '전기압력밥솥 10인용' '7종세트' 'LA갈비 10팩_총 5kg'
 '건강  완벽더블구성 6+6 총 1년분' '슈퍼바디' 'N-K 금연보조제 세트' '승마운동기 프리미엄'
 '단독구성 볼륨펌프 헤어뽕 12피스+파우치+볼륨쉐이킹브러쉬' '_코타키나발루 5일' '세탁기 14KgT1407WB'
 '기모본딩 남성바지 3종' '워블 세탁기 15KG WA15E6K4QWW' '사은품_세탁기 생활용품4종세트' '하이브리드'
 '전동공구 멀티툴즈 추가  10/7~' '초특가 전동공구' '극세사 침구세트킹' '프리미엄 버블스타 각탕기'
 '면 60수  3종 세트' '그레이품절★  암막커튼 세트 수퍼특대형+사은품:타이백'
 '팩 세트 6개 1set X 2총 12개+립클렌저' '가볍게 떠나는 청도 여행 3일_노쇼핑'
 '베트남 호치민 일주 5일 붕따우+미토+구찌' '무료체험  탈모샴푸' '침대킹' '사은품_KQ 스텐드+메모리폼베게(2개)+방수커버'
 '물걸레 겸용 무선 청소기MHC-720' '트레킹화 2종세트여성화' '트레킹화 2종세트남성화' '프리미엄 식품 건조기'
 '롤러 1+1' '스마트 2015' '송편 100개10봉봉당400g' '사은품_라면:' 'T-3125사은품_전기그릴'
 '1세트 체크가글액-770ml 2병+285ml 4병' '홍콩여행_ 왕복_특급호텔투숙까지' '치아미백기' '운전자 보험'
 '선글라스 2종 시즌1' '클리닉  페이스+바디롤러 패키지' '사은품_ 스텐냄비3종+14P+네오플램시트도마3P'
 'S835S30  S835W31' 'EW-1211A' '여성 여름티셔츠 4종세트' '유기농 엑스트라버진 넛오일' '트렁크'
 '비데 최고급 리모컨비데' '만능 요리기녹즙기' '만능 요리기+채유기' '백 3종구성' '소닉케어HX675433'
 '사은품  요거맘' '착즙기' '프로' '사은품_  전기그릴' '미녀들의 시크릿 빨강석류' '휴지 3팩'
 '스탠드형 360도 회전 다리미판' '사과배  사과 4kg + 천안 5kg' '스위스 클래식컬러 다용도 과도 3종 세트'
 '에어프라이어28' '사은품_에어프라이어  핸드블랜더' '접이식 다용도 웨건' '전동공구 3만원할인918~10/7'
 '프리미엄 식품 건조기-8단' '더블세트' '만능 후라이팬 6종세트' '#NAME?' '김치 8kg' 'LED TV 55형 55'
 '2단행거 한세트' '극세사 솔리드 패드 3종 세트컬러선택 가능' '의  진동운동기' '석쇠불고기 13팩'
 '청소기 HS2800 2대' '황토쌀독' '6인조 디너세트' '파워구성   12병' '대용량 레드 믹서기' '프라이팬 7종'
 '초특가리무버 전동공구' '생활건강  치아미백젤' '기획특가 3단행거' '60수  워싱패드 3종 세트' '2 충전식 LED 스탠드'
 '보정 레깅스 5종 세트' '선택' '고데기 슬림+팔찌' '치약세트' '대복 갈비세트 총 10팩구성'
 '멀티바구니 60리터 X 2개 세트' '대용량 세트' '2만원SALE2개 4단 서랍장' '중국 속 작은 유럽 청도 여행'
 'H행거() 1개' '초특가  여성 썸머 골프팬츠 3종' 'S1만원세일-  사각 모기장 소형(싱글더블)' '진공포장기'
 '무료체험피톤치드 편백의 숲 베개 4개 세트' '무료체험피톤치드 편백의 숲 베개 2개 세트' '블랙박스 32G'
 '프리미엄 폴리쳐 세트_차량광택제' '차량광택제_프리미엄 폴리쳐 세트' '세트' '드로즈 패키지 10종세트' 'HVS-STF14'
 '사은품_ 식품건조기+ 칼라 도자기' '논슬립 옷걸이 세트 옷걸이100P+텐션50P' '통주물 스톤냄비' '친환경 종이 호일세트'
 '글램  슈즈' 'H행거() 2개' '무료체험 스마트 홈클린 세트' '3종핸드백' '스테인리스 냄비세트+믹싱볼2개 총 7종'
 '만능 요리기+채유기세일' '단독구성★  LA양념갈비+갈비찜 총 10팩' '팩션 후라이팬 5종 세트' '교구' '세일 시즌6'
 '전동공구+다용도패드+리무버' '설치형' '분양 호텔  in 설악' '활전복 25미 中 사이즈' '가스레인지 2구 일반형'
 '맷돌로 갈아만든 국산 검은콩 검은깨 두유 4박스84팩' '눈건강에 도움을 주는 루테인 8박스8개월분' '네일 프리미엄 패키지'
 '물량/한/정 부산  3kg*2박스' '초대박★가격확인하세요/반건시 선물세트 2박스 + 1박스 추가 !!!!'
 '생피부  유산균 6박스' '2016년 햇 갓의 향이 물씬~ 여수 돌산 갓김치 6kg + 고들빼기 김치 1kg'
 '키높이 패션 워킹화  여성화' '디너세트 40P' '다이아몬드 후라이팬 4종' '더블세트  습기제거제' '양면 석쇠구이기'
 '해먹 하와이 해먹+해먹스탠드+보관용가방' '초특가  남성 여름티셔츠 4종세트' '일레스틱  골프바지 3종'
 '무선SS  자동물걸레청소기' '악센트 볼5P 병행수입' '절전형 전기매트 싱글 3개' '선글라스 2종 시즌2'
 '아로니아 파우더 16통' '다이렉트 정수기' 'Q  사각 모기장 대형(퀸킹사이즈)' '경품_면도기  선글라스' '화이트 셔츠'
 '카매트 프라임' '슈퍼냉온정수기' '극세사 침구세트싱글' '7존  매트리스 슈퍼싱글★  사은품:' '활전복 22미 大사이즈'
 '암막커튼 세트 대형+사은품:타이백' '암막커튼 세트 특대형+사은품:타이백' '핸썸'
 '사은품_ 스팀 2단 멀티 쿠커  2인조 14p' '32장  2세트' '초특가    극세사 침구세트킹' '휘트니스 웨어 7종'
 '단독구성 연어 훈제 프리미엄S 8팩 + 연어 통살구이 1팩' '고등어 20팩 세트 비린내냄새/알러지 걱정 NO!'
 '1만원세일   루나 화 여성화' '청소기 세일' '멀티 믹서기-마늘박피' '사은품_  파워믹서기'
 '홍콩 관광+자유 일정 3일_ 55주년 특별기획' '여성 위클리 티셔츠4종 세트' '썸머 골프팬츠 3종남성'
 '초특가  남성 썸머 골프팬츠 3종' '아로니아100  120팩 + 무료체험 5팩' '초특가_ 극세사 침구세트싱글' '롤링마사지기'
 '초특가_ 극세사 침구세트퀸' '16장  1세트' '1세트  멀티수납장' '집업니트티 4종' '1세트  쿠션벽지(8장)'
 '1+1 3D 입체베개(무료체험)' 'MR20' '신사화 3종 + 벨트 2종' '미러 국내차'
 '홍삼정 3병 구성 +선물용 쇼핑백 추가증정' '무료체험2015년형  비데' '좌식형 360도 회전 다리미판'
 '7존  매트리스 퀸★  사은품:' '싱글양모온수매트' '블랙박스 2채널32G' '상담 속초  크루즈 호텔 분양'
 '남성 여름티셔츠 4종세트' '210수 브라팬티' '가격/인/하    극세사 침구세트킹'
 '스트레칭 쭉~    마사지매트 +사은품 : 허브찜질기' '썸머 골프팬츠 3종여성' '7존  매트리스 킹★ 사은품:'
 '유러피언 스타일' '사은품_ 스텐레스 밀폐용기 3종세트' '디지털 도어락' '2016  골프바지 3종'
 '절전형 전기매트 싱글 1+ 1' '극세사 침구세트퀸' '천안  5kg' '침대슈퍼싱글'
 '사은품_SS 스텐드+메모리폼베게(1개)+방수커버' '쉽고 빠른  염색제 11세트 색상선택가능' '남성 런닝화' '여성 런닝화'
 '침대퀸' '슬리브탑' '밥솥 6인용WPQ-C0608EV' '사은품_  법랑 2종세트+시트도마 3P+칼블럭6종'
 '여성 등산화 트레킹화 세트' '남성 등산화 트레킹화 세트' '초특가  워킹슈즈 여성용' '쏘팔메토 스페셜 3박스'
 '더블세트 체크가글액-770ml 4병+285ml 8병' '방송에서만 황사 마스크(KF94) 20장 +10개더'
 '4만원SALE 3단 접이식 행거' '초특가 2016  골프바지 3종' '초특/가★껍질째 먹는   세척사과 3박스'
 '절전매트 잘자요' '11종무료체험' '쿨 스트레치 티셔츠4종남성' '남성 엑스트라 히트 동내의' '베스트+셔츠 2종세트'
 '초특가  일레스틱  골프바지 3종' '여성 엑스트라 히트 동내의' '12병 파워구성' '소가죽  남성화' '마스크'
 '간편하게~ 새치 걱정 끝! 5개 SET' '루나 화 여성화' '블라우스 5종 Set2016년 봄신상품'
 '활전복 大 size 1.3kg 이상' '세트파운케익3+리필4+컨실러1+트윈팩트1+1+체험분' '사은품_선풍기'
 '목이 개운한 3D  입체 베개2종' '압력솥 G' '채칼 다지기 세트' '건강한 茶 습관!'
 '왕복1일 자유일정 오키나와 여행 3일' '두피케어 토탈 솔루션 어성초 풍모 두피케어 세트' '가스레인지 3구 일반형'
 '가스레인지 3구 매립형빌트인' '프리미엄 폴리쳐 세트' '왕복 대만 여행 4일_즐길거리 볼거리 먹거리 가득' '황토돌솥 황토반'
 '슬림 6주분  무료체험 5일!' '사과 4kg' '와인 스마트' '북해도 핵심일주 4일 일정' '승마운동기' '상해/주장 3일'
 '미니심플정수기' '가볍게 떠나는 대마도 1박2일_투어' '무료체험 10kg+체험분 500g+시공세트포함' '고데기 슬림 1+1'
 '초특가  글램  슈즈' '가격/인/하    극세사 침구세트퀸' 'Set 양변기+세면기' '감귤 3kg x 1박스'
 '왕복 큐슈 여행 3일_온천까지 즐기자!' '청도 여행 299000원 부터~'
 '식스핏 다이어트 프리미엄 10주분레몬맛 6주 + 망고맛 4주' '사은품_빵:' '핫썸머 쿨웨어 4종여성' '010 핸드폰 개통'
 '미러 수입차' '오징어불고기 8팩 + 중화요리볶음밥 5봉' '상담  상조' '만능 요리기녹즙기_세일' '극세사 워셔블온열매트'
 '더블세트 멀티수납장' '키높이 샌들' '냄비 10종 세트' '점보형 프리미엄  왕대나무 압착 접이식 대자리+사은품 청대베게 증정'
 '사은품  1개   본품 배송완료 후 14일 이내 배송' '대박구성  햄프씨드 9봉+추가구성 3봉 더!!!!'
 '소가죽 남성화 3종' '초특가  여성 여름티셔츠 4종세트' '1만원SALE1개 4단 서랍장' '메쉬 슈즈'
 '최대/혜/택 볶은 아마씨 총 16팩' '전자레인지 전용 밀폐용기30종 60P' 'S  사각 모기장 소형(싱글더블)'
 'F  사각 모기장 특대형(패밀리사이즈)' 'EMS운동기  패치' '빨래살균건조기 7kg' '전기압력밥솥 6인용' '상조'
 '1세트 섬유유연제4가지향(5*4set)+용기1개+체험분1개' '슈퍼S정수기'
 '1+1세트 섬유유연제4가지향(5*8set)+용기2개+체험분2개' '전기압력밥솥 10인용CRP-L1065SRSD'
 '사은품_압력밥솥 세트' '워킹슈즈 여성용' '승마운동기 일반형' '티셔츠 6종여성' '4인용 식기세트 20P'
 '펌프 유리병 세트' '방송중 제주 오메기떡 총 60개 최대구성!' '4인조 세트' 'Q  공기청정기 2개 +  II-S 2개'
 '대박구성  신발 정리대 총 54종' '블랙박스 1세트' '스마트 슬림 직수형 정수기' '실속구성  신발 정리대 총 20종'
 '선글라스' '4인세트 3D 입체베개(무료체험)' '614 단하루 이벤트★  아로니아 파우더 16통50g'
 '분양 제주  서귀포 호텔' '천안  호텔 분양' '스프레이맥스' '쿨 스트레치 티셔츠4종여성' '워킹슈즈 남성용'
 'pro 멀티 믹서기' '공기청정기 3개' '다목적 세정제 3개+얼룩제거비누' '레저 등산 4종세트'
 '715~8/3 세일!! 루테인 8박스8개월분' '이베리' '퓨어 선롤러 30ml*4 + 100ml*1 + 롤러리필 2개'
 '남성 봄 티셔츠4종 세트' '사은품_샤베트제조기' '무선안마기' 'H-남성용'
 '1+1완벽더블구성  더힘찬선식 스페셜 120포+사은품 쉐이커 증정' '목이 개운한 3D  입체 베개4종'
 '주름/개/선  SD링클크림 본품 2개+여행용 1개' '여름 밴딩 팬츠 3종 여성용' '겔 소취消臭클렌저 +무료체험분 증정'
 '큐슈 여행_온천에서 뱃놀이까지' '온수매트' '블랙박스 1채널32G' '55주년 특별기획_대만 3박 4일'
 '여행 북유럽 발틱3국+러시아 8일 일정' '키높이 패션 워킹화  남성화' '압력솥  ONE' 'C17 세럼'
 '사은품_선풍기  무이모든치아보험' '황토 호박고구마 2박스10KG' '양배추 사과 진액 120ml x 60'
 '침구청소기EP-7UP-2' '롤클리너 1+1파격구성' '항공 왕복 대만여행 4일' '아트  티셔츠' '양변기' '블랙박스 16G'
 '방송중에만  시스템 수납장 콤비형 서랍형1+선반형1' '방송중에만  시스템 수납장 서랍형1+1'
 'by  데일리  스페셜 거들 팬티 10종+ 거들팬티 2종' '밀폐용기 12종24P' 'H-여성용' '핵심일주 4일'
 '투어 오키나와 여행_해중크루즈포함' '홍삼 3박스' '항균 씽크선반 2단' '욕실주방 샤워기 세트' '양모온수매트 퀸'
 '여성  노와이어 브라 팬티 12종 세트' '크림 50ml 2+1' '무선 글루건_리튬이온 글루스틱후크헬퍼키트 모두 포함'
 '체어 안마의자' '양말 9종남성' '싸이클론 진공청소기' '다양한 연출이 가능한  시계' '블랙박스 8G'
 '4인set 3D 입체베개(무료체험)' '양모온수매트 싱글' '1만원 인하   기모본딩 남성바지 3종' '하이브리드렌지'
 '가격/인/하    극세사 침구세트싱글' '양말 9종여성' '베트남 하노이하롱베이/옌뜨 여행 4일5일_특급호텔 숙박'
 '초특가  펀칭 슬립온 슈즈' '오징어순대소 500g x 2' 'BB' '볼록맞춤 세트318p' '1세트'
 '가마솥 중탕기 OC-2500PO' '사은품_ 광파오븐이유식전용내솥 스텐보울 3종' '무 New 치아 안심보험 1601'
 '퍼블릭 트렁크 패키지 10종세트' '가마솥 중탕기 OC-2700PR' '독일 주방 명품  냄비6종세트' '사은품_요거트메이트:'
 '펀칭 슬립온 슈즈' '트렁크10종' '드로즈10종' '요리 걱정 끝!요리를 9해조 다시팩 세트'
 'Q1만원세일-  사각 모기장 대형(퀸킹사이즈)' '밥솥 10인용CJS-FB1003V' '베이직런닝 패키지 10종세트' '이동형'
 '이동식 냉장고_일반 차량용_가정용 어댑터까지 12V' 'KIT + 선풍기 세트방송에서만_KIT 1개더'
 '무료체험()  버블샴푸2.8L' '황토 호박고구마 1박스5KG' '껍질째 먹는   세척사과 3박스'
 '무료체험 5kg+체험분 500g' '여름 밴딩 팬츠 3종 남성용' '사은품_선풍기  1608'
 '금강종합상조 서비스 더피플 450' '초특가  워킹슈즈 남성용' 'T-3125사은품_ 믹서기' '유선SS  자동물걸레청소기'
 '치아 안심보험' '화려한 도시 홍콩으로의 외출_자유투어' '시스템 수납장 서랍형 1세트' '남성 아웃도어2종+데님1종남성'
 '밀폐용기20L' '육개장 7팩' 'PC 캐리어 2종세트 20”+25”' '조선왕조궁중음식  의 LA갈비 10팩'
 '노르웨이 大고등어 35팩 구성' '2개 4단 서랍장' '립타투' '투어 큐슈여행 3일_299000원부터'
 '프리미엄 이중암막 레이스 커튼 대형  풀세트구성' '전기 압력 밥솥10인용' '사은품_ 믹싱볼+키친툴+시트도마'
 '립매니큐어+리무버+스크럽+탑코트 세트' 'CA100' '상담  제주 호텔 분양' '블랙박스 2세트' '미러 국내차 일체형'
 '카매트' '제주  호텔 분양' '호텔 마리나베이서울 분양' '에어매트리스' '2인set 3D 입체베개(무료체험)' '청소기'
 '사은품_청소기 도자기 12p' '초특가  메쉬 슈즈' '에어매트리스 퀸Q' 'RN 스판팬츠 4종' '양모온수매트퀸+증강현실패드'
 '골프웨어 6종 세트여성' '골프웨어 6종 세트남성' '양모온수매트싱글' '양모온수매트퀸' '초특가  소가죽  남성화'
 '쏘팔메토  스페셜 1박스' '4인조 세트_혼합정액' '남성 전립선건강에 도움을 줄 수 있는  3박스' '옹기 숨'
 '여행용 캐리어 9종 세트' '디너 세트' '천연원료비타민미네랄 함유 6개월분+사은품 비타C' '6종세트' '바이오 하이퍼 그릴'
 '이동식 냉장고_어댑터까지 대형 화물 차량용24V' '슬림 4주분 무료체험 5일!' '브라팬티' '전기면도기  더블세트'
 '기도형 보청기ST33' '왕복 중국 곤명여행_' '핫썸머 쿨웨어 4종남성' '가마솥 중탕기'
 '사은품_  식품건조기대우 요구르트제조기' '라이프 유기농 엑스트라버진 코코넛오일'
 '프리미엄 이중암막 레이스 커튼 중형  풀세트구성' '에어서큘레이터_' '양모온수매트'
 '중형 프리미엄  왕대나무 압착 접이식 대자리+사은품 청대베게 증정'
 '대형 프리미엄  왕대나무 압착 접이식 대자리+사은품 청대베게 증정' '7존  매트리스 킹★  사은품:' '세면기' '학습'
 '에어메트리스 퀸' '에어메트리스 싱글' '순면 카페트점보특대형 + 다용도매트 + 발매트'
 '오늘 결제 0원!  밴드플레이 LG-F570S' '3단 접이식 행거' '에어매트리스 싱글S' '아웃도어2종+데님1종여성'
 '웰빙 공기정화 식물 6종' '오직방송에서만! 1박스 더!  건강한 흑마늘 진액 120포 대박구성★' '60수  침구세트퀸'
 '렌탈 안마의자 ENE-7 레브' '스마트 LED침대' '오사카와 큐슈를 한번에! 4일 일정' '놀이방 매트 세트'
 '초고속 블랜더' '멀티서큘레이터_' 'F1만원세일-  사각 모기장 특대형(패밀리사이즈)'
 '와이드 그릴  사은품 :  2단 런치박스' '빨래살균건조기' '1개 4단 서랍장' '순면 카페트특대형 + 다용도매트 + 발매트'
 '슬림 2주분' '침대세트 슈퍼싱글SS- 자카드9존/독립스프링' '클렌저 + 클로징세럼' '60수  침구세트슈퍼싱글'
 'FULL HDTV 43형' '프리미엄 이중암막 레이스 커튼 특대형  풀세트구성' 'UV  프로텍터'
 '채유기녹즙기 본체와 결합하여 기름 짜는 채유기(녹즙기 본체 없이는 기름을 짤수 없어요' '전기 압력 밥솥6인용'
 '클리닉   어플리케이터+아이크림 패키지' '렌탈   ENE-3 오브 Aube 안마의자' '침대세트 퀸Q- 자카드9존/독립스프링'
 '호텔용 컬러무지 130g 40x80cm130g' '호텔용 컬러무지 130g 40수 40x80cm130g' '푸드쿡 5종'
 '60수  침구세트킹' '맷돌로 갈아만든 국산 검은콩 검은깨 두유 1박스21팩' '빨래살균건조기 5kg'
 'XP SPF50+PA+++ 본품1개+리필1개 + 스페셜 5종 세트' '순면 카페트대형 + 다용도매트 + 발매트'
 '올인원 매트리스' '황사 방역용 마스크KF94 20장' '침대세트 - 자카드9존/독립스프링' '넛오일 500ml 1병'
 '파격특가 안마의자' '에컨트롤 2종 세트' '2BOX + 무료체험분 2팩' '5번가 EDP 125ml'
 '단 이틀 99000원 찬스! 대마도 여행_616 6/28 출발' '전기면도기' '렌탈   ENE-5 보그'
 '남성 전립선건강에 도움을 줄 수 있는  1박스' '밀폐용기 6종12P' 'HDTV 32형' '볶은 아마씨 1팩'
 '스마트 LED침대 퀸Q' '스마트 LED침대 슈퍼싱글SS' 'LED TV 43형 43LF5700' '돼지감자환 3세트+혈당측정기'
 '생피부  유산균 1박스' '미러리스카메라 ILCE-A5000 16-50mm렌즈포함' 'LED TV 49형 49'
 '찜갈비 선물세트 1.8kg600g x 3팩' '팩션 28cm 후라이팬' '팩션 28cm 궁중팬' '라텍스 소파 4인용'
 '영광굴비 50미 75set' '사과4kg+배5kg 6set' '홍삼정 3병+선물용쇼핑백 26'
 '영광굴비 50미 50set  본사' '골드오일크림' '팜고급유3호3+1' '웰빙 죽제조기' '무선핸디드릴 4.8V'
 '안마 전용의자']

In [26]:
df1[df1['SEX']=='*']
# 재확인

Empty DataFrame
Columns: [CUST_SERIAL_NO, SEX, AGE, REG_DATE, ORDER_DATE, ORDER_HOUR, ORDER_WEEKDAY, IS_WEEKEND, GOODS_CODE, LGROUP, MGROUP, SGROUP, DGROUP, GOODS_NAME, PRICE, QTY]
Index: []

In [27]:
df1.head(2)

,CUST_SERIAL_NO,SEX,AGE,REG_DATE,ORDER_DATE,ORDER_HOUR,ORDER_WEEKDAY,IS_WEEKEND,GOODS_CODE,LGROUP,MGROUP,SGROUP,DGROUP,GOODS_NAME,PRICE,QTY
0,1000000023,F,40,2011-07,2011-11-14,"[0, 3[",토,T,20261,20,2,1,1,더무료체험,61500,1
1,1000000023,F,40,2011-07,2012-05-28,"[0, 3[",토,T,20728,10,10,3,1,메쉬런닝화 + 슈즈 2종 여성,42500,1

In [28]:
from datetime import datetime, timedelta
df1['ORDER_DATE'] =pd.to_datetime(df1['ORDER_DATE'])
df1.info()
# date time으로 형태변환(object에서)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 507352 entries, 0 to 507351
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CUST_SERIAL_NO  507352 non-null  int64
 1   SEX             507352 non-null  object
 2   AGE             507352 non-null  object
 3   REG_DATE        507352 non-null  object
 4   ORDER_DATE      507352 non-null  datetime64[ns]
 5   ORDER_HOUR      507352 non-null  object
 6   ORDER_WEEKDAY   507352 non-null  object
 7   IS_WEEKEND      507352 non-null  object
 8   GOODS_CODE      507352 non-null  int64
 9   LGROUP          507352 non-null  int64
 10  MGROUP          507352 non-null  int64
 11  SGROUP          507352 non-null  int64
 12  DGROUP          507352 non-null  int64
 13  GOODS_NAME      507352 non-null  object
 14  PRICE           507352 non-null  int64
 15  QTY             507352 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(7)
memory usage: 65.8+ MB

In [29]:
df1.head(2)

,CUST_SERIAL_NO,SEX,AGE,REG_DATE,ORDER_DATE,ORDER_HOUR,ORDER_WEEKDAY,IS_WEEKEND,GOODS_CODE,LGROUP,MGROUP,SGROUP,DGROUP,GOODS_NAME,PRICE,QTY
0,1000000023,F,40,2011-07,2011-11-14,"[0, 3[",토,T,20261,20,2,1,1,더무료체험,61500,1
1,1000000023,F,40,2011-07,2012-05-28,"[0, 3[",토,T,20728,10,10,3,1,메쉬런닝화 + 슈즈 2종 여성,42500,1